In [1]:
import pymongo
import json
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# ---- Connection Info ----
host_name = "localhost"
port = "27017"
user_id = "root"
pwd = "Peanut168996!"
db_name = "shuttle_dw"

In [3]:
# ---- MongoDB Connections ----
conn_str = {
    "local": f"mongodb://{host_name}:{port}/",
    "atlas": "mongodb+srv://ssb6gy:Peanut168996!@ds-2002.xpbindd.mongodb.net/?retryWrites=true&w=majority&appName=DS-2002"
}

client = pymongo.MongoClient(conn_str["atlas"])
mongo_db = client["shuttle_ops"]
mongo_collection = mongo_db["vehicle_status"]

print(f"Connected to MongoDB Atlas database: {mongo_db.name}")

Connected to MongoDB Atlas database: shuttle_ops

In [4]:
# ---- Load JSON file ----
json_file = "vehicle_status.json"

with open(json_file, "r") as f:
    data = json.load(f)

In [5]:
# ---- Insert into MongoDB ----
if isinstance(data, list):
    mongo_collection.insert_many(data)
else:
    mongo_collection.insert_one(data)

count = mongo_collection.count_documents({})
print(f"Inserted {count} records into 'vehicle_status' collection in MongoDB Atlas.")

Inserted 4 records into 'vehicle_status' collection in MongoDB Atlas.

In [6]:
# ---- Extract back from MongoDB ----
records = list(mongo_collection.find({}, {"_id": 0}))  # exclude _id field
vehicle_status_df = pd.DataFrame(records)

print("Preview of vehicle_status data from MongoDB:")
display(vehicle_status_df.head())

Preview of vehicle_status data from MongoDB:

,vehicle_number,timestamp,battery_level,current_location,in_service
0,1001,2025-10-05T08:30:00,85,CHP,True
1,E201,2025-10-05T08:35:00,92,LIB,True
2,V12,2025-10-05T09:00:00,0,Depot,False
3,C4,2025-10-05T09:15:00,60,JPJ,True

In [7]:
# ---- MySQL Connection (SQLAlchemy) ----
engine_str = f"mysql+pymysql://{user_id}:{pwd}@127.0.0.1:3306/{db_name}"
engine = create_engine(engine_str)

In [8]:
# ---- Load to MySQL staging table ----
vehicle_status_df.to_sql("vehicle_status_stg", con=engine, if_exists="replace", index=False)
print("Data successfully loaded into MySQL table 'vehicle_status_stg'.")

Data successfully loaded into MySQL table 'vehicle_status_stg'.

In [9]:
# ---- Verify in MySQL ----
query = "SELECT * FROM vehicle_status_stg LIMIT 5"
mysql_preview = pd.read_sql(query, con=engine)

print("Preview of data now in MySQL warehouse:")
display(mysql_preview)

Preview of data now in MySQL warehouse:

,vehicle_number,timestamp,battery_level,current_location,in_service
0,1001,2025-10-05T08:30:00,85,CHP,1
1,E201,2025-10-05T08:35:00,92,LIB,1
2,V12,2025-10-05T09:00:00,0,Depot,0
3,C4,2025-10-05T09:15:00,60,JPJ,1